<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/navbar :: common-header"/>


<body>
<!-- Login Section -->
<!--    <img class="img-responsive" src="/images/banner.png" alt="banner"/>-->
<div th:replace="common/navbar :: navbar"></div>

<div class="container">
    <div class="row ">
        <div class="main-center ">
<!--            <div class="bg-danger" th:if="${param.error}">-->
<!--                Invalid username and secret.-->
<!--            </div>-->
<!--            <div class="bg-danger" th:if="${param.logout}">-->
<!--                You have been logged out.-->
<!--            </div>-->



            <form class="form-horizontal" method="post" th:action="@{/submitScore}"  enctype="multipart/form-data">
                <h2 class="form-signin-heading"> Your Results</h2><br/>

                <div class="form-group">
                    <label for="division" class="sr-only">Select Division</label>
                    <select class="form-control"  th:value="${userScore.division}"  name="division"  id="division" required="required">

                        <option disabled="disabled" selected="selected" >Select Division</option>
                        <option >Man</option>
                        <option >Woman</option>

                    </select>
                </div>




                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" roleId="name" th:value="${userScore.name}" class="form-control"
                           placeholder="User Name" name="name"
                           id="name"
                           required="required" autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label for="wats" class="sr-only">Watts</label>
                    <input type="text" roleId="wats" class="form-control" th:value="${userScore.wats}"
                           placeholder="Watts" name="wats"
                           id="wats"
                           required="required" autofocus="autofocus"/>
                </div>



                <!--                <div class="form-group">-->
                <!--                    <label for="time" class="sr-only">Time</label>-->
                <!--                    <input type="text" class="form-control" placeholder="Your Time"-->
                <!--                           id="time"-->
                <!--                           name="time" />-->
                <!--                </div>-->
                <div class="form-group" >

                    <input type="file" name="myfile" accept="image/*">
<!--                    <input type="submit" value="Upload">-->

<!--                    <label for="formFileSm" class="form-label">Small file input example</label>-->
<!--                    <input class="form-control form-control-sm" id="formFileSm"  th:value="${userScore.picture}" type="file"/>-->
                </div>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>




<!--            <form method="post" action="/uploadFile" enctype="multipart/form-data">-->
<!--                <input type="file" name="myfile" accept="image/*">-->
<!--                <input type="submit" value="Upload">-->
<!--            </form>-->


            <hr/>

        </div>
    </div>
</div>


<div th:replace="common/navbar :: body-bottom-scripts"/>


</body>
</html>